{#{% extends '@PrestaShop/Admin/layout.html.twig' %}
{% trans_default_domain "Admin.Design.Feature" %}#}

{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="row mt-3">
            <div class="col">
                <div class="card">
                    <h3 class="card-header">
                        {{ 'Appareils a réparer'|trans({}, 'Modules.Hsrdv.Admin') }} ({{ presented_reparation.appareils|length }})
                    </h3>
                    <div class="card-body">
                        {% if presented_reparation.appareils is not empty  %}
                            <form action="{{ initial_decision_form_action }}" method="POST" data-action="firstFeedback">
                              <table class="table">
                                  <thead>
                                  <tr>
                                      <th>{{ 'Marque'|trans({}, 'Modules.Hsrdv.Admin') }}</th>
                                      <th>{{ 'Reference'|trans({}, 'Modules.Hsrdv.Admin') }}</th>
                                      <th>{{ 'Descriptif de la panne'|trans({}, 'Modules.Hsrdv.Admin') }}</th>
                                      <th>{{ 'Decision'|trans({}, 'Modules.Hsrdv.Admin') }}</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  {% for appareil in presented_reparation.appareils %}
                                      <tr class="appareil-line-{{ loop.index }}">
                                          <td>{{ appareil.marque }}</td>
                                          <td>{{ appareil.reference }}</td>
                                          <td>{{ appareil.descriptif_panne }}</td>
                                          <td>
                                              <label for="" class="required">
                                                  <input type="radio"
                                                         name="appareils[{{ appareil.id_appareil }}]"
                                                         value="{{ 'Oui'|trans({}, 'Modules.Hsrdv.Admin') }}"
                                                         {% if appareil.decision == true %}checked="checked"{% endif %}
                                                         {% if presented_reparation.status.id_status != statuses['DEMANDE_REPARATION']  %}disabled{% endif %}
                                                  >
                                                  {{ 'Oui'|trans({}, 'Modules.Hsrdv.Admin') }}
                                              </label>

                                              <label for="" class="required">
                                                  <input type="radio"
                                                         name="appareils[{{ appareil.id_appareil }}]"
                                                         value="{{ 'Non'|trans({}, 'Modules.Hsrdv.Admin') }}"
                                                         {% if appareil.decision == false and not appareil.decision is same as(null) %}checked="checked"{% endif %}
                                                         {% if presented_reparation.status.id_status != statuses['DEMANDE_REPARATION']  %}disabled{% endif %}
                                                  >
                                                  {{ 'Non'|trans({}, 'Modules.Hsrdv.Admin') }}
                                              </label>
                                          </td>
                                      </tr>
                                  {% endfor %}
                                  </tbody>
                                </table>
                                {% if presented_reparation.status.id_status >= 1  %}
                                    <div class="submit-line">
                                        <span class="line-title">
                                            <input type="hidden" name="id_reparation" value="{{ presented_reparation.id_reparation }}" />
                                            <input type="hidden" name="id_order" value="{{ id_order }}" />
                                            <input class="btn btn-primary" class="" name="submitMessage"
                                                   value="{{ 'Envoyer réponse'|trans({}, 'Modules.Hsrdv.Admin') }}"
                                                   {% if presented_reparation.status.id_status  >= statuses['PRISE_RDV'] %} disabled {% endif %}
                                                   type="submit">
                                        </span>
                                    </div>
                                {% endif %}
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% if presented_reparation.status.id_status >= statuses['RDV_PRIS']  %}
        <div class="row">
            <div class="col">
                <div class="card">
                    <h3 class="card-header">
                        {{ 'Prise en charge:'|trans({}, 'Modules.Hsrdv.Admin') }}
                    </h3>
                    <div class="card-body">
                        <form action="{{ prise_en_charge_decision_form_action }}" method="POST" data-action="priseEnChargeFeedback">
                            <label for="" class="required">
                                <input type="radio"
                                       id=""
                                       name="decision_prise_en_charge"
                                       class="checkbox"
                                       value={% if presented_reparation.status.id_status  >= statuses['REPARATION_EN_COURS'] %} disabled {% endif %}"{{ 'Oui'|trans({}, 'Modules.Hsrdv.Admin') }}"

                                        {% if presented_reparation.status.id_status == statuses['REPARATION_EN_COURS'] %} checked="checked" {% endif %}
                                        {% if presented_reparation.status.id_status  >= statuses['REPARATION_EN_COURS'] %} disabled {% endif %}
                                >
                                {{ 'Oui'|trans({}, 'Modules.Hsrdv.Admin') }}
                            </label>

                            <label for="" class="required">
                                <input type="radio"
                                       id=""
                                       name="decision_prise_en_charge"
                                       class="checkbox"
                                       value="{{ 'Non'|trans({}, 'Modules.Hsrdv.Admin') }}"
                                        {% if presented_reparation.status.id_status == statuses['NON_PRIS_EN_CHARGE'] %} checked="checked" {% endif %}
                                        {% if presented_reparation.status.id_status >= statuses['REPARATION_EN_COURS'] %} disabled {% endif %}
                                >
                                {{ 'Non'|trans({}, 'Modules.Hsrdv.Admin') }}
                            </label>
                            <input type="hidden" name="id_reparation" value="{{ presented_reparation.id_reparation }}" />
                            <input class="btn btn-primary" name="submitFeedback"
                                   value="{{ 'Valider'|trans({}, 'Modules.Hsrdv.Admin') }}" type="submit"
                                    {% if presented_reparation.status.id_status >= statuses['REPARATION_EN_COURS'] %} disabled {% endif %}
                            >
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}


        {% if presented_reparation.status.id_status >= statuses['REPARATION_EN_COURS'] and presented_reparation.status.id_status != statuses['NON_PRIS_EN_CHARGE']  %}
            <div class="row">
                <div class="col">
                    <div class="card">
                        <h3 class="card-header">
                            {{ 'Etat de la reparation:'|trans({}, 'Modules.Hsrdv.Admin') }}
                        </h3>
                        <div class="card-body">
                            <form action="{{ etat_reparation_form_action }}" method="POST" data-action="etatReparation">

                                <input type="hidden" name="id_reparation" value="{{ presented_reparation.id_reparation }}" />
                                <input name="submitFeedback"
                                       value="{{ 'Réparé'|trans({}, 'Modules.Hsrdv.Admin') }}" type="submit"
                                        {% if presented_reparation.status.id_status >=6 %} disabled {% endif %}
                                >
                            </form>
                            <span class="step-date">
                               {{ 'Date reparation:'|trans({}, 'Modules.Hsrdv.Admin') }} : {{ presented_reparation.date_reparation|date('d-m-Y')}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}




        {% if presented_reparation.status.id_status >= 8  %}
{#            <div class="row">
                <div class="col">
                    <div class="card">
                        <h3 class="card-header">
                            {{ 'Mode de livraison:'|trans({}, 'Modules.Hsrdv.Admin') }}
                        </h3>
                        <div class="card-body">
                            {% if presented_reparation.mode_livraison == 1 %}{{ 'Retrait Atelier'|trans({}, 'Modules.Hsrdv.Admin') }}{% endif %}
                            {% if presented_reparation.mode_livraison == 2 %}{{ 'Livraison a domicile'|trans({}, 'Modules.Hsrdv.Admin') }}{% endif %}
                        </div>
                    </div>
                </div>
            </div>#}

{#            <div class="row">
                <div class="col">
                    <div class="card">
                        <h3 class="card-header">
                            {{ 'Livré?'|trans({}, 'Modules.Hsrdv.Admin') }}
                        </h3>
                        <div class="card-body">
                            <form action="{{ etat_livraison_form_action }}" method="POST" data-action="etatLivraison">
                                    <input type="hidden" name="id_reparation" value="{{ presented_reparation.id_reparation }}" />
                                    <input name="submitFeedback"
                                           value="{{ 'Livré'|trans({}, 'Modules.Hsrdv.Admin') }}" type="submit"
                                            {% if presented_reparation.status.id_status >=9 %} disabled {% endif %}
                                    >
                            </form>
                            <span class="step-date">
                               {{ 'Date livraison:'|trans({}, 'Modules.Hsrdv.Admin') }} : {{ presented_reparation.date_livraison|date('d-m-Y')}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>#}
        {% endif %}

    </div>
</div>
{% endblock %}
{#

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('../modules/hsrdv/views/public/show.js') }}"></script>
{% endblock %}
#}
